.sectionLogin{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerLogin{
  border: 1px solid #00000080;
  width: 400px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-radius: 10px;
}
.containerLogin h1{
  font-size: 1.5rem;
}
.btn-admin{
  color: #00B889;
  border: #00B889 2px solid;
  padding: 0px 10px !important;
}